.calendar {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  max-width: 304px;
  padding: 28px 36px 40px;
}

.calendar__title {
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--grey-7);
  margin-bottom: 24px;
}

.calendar__wrapper {
  position: relative;
  padding-bottom: 100%;
}

.calendar__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
  font-family: Source Sans Pro;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-7);
}

.calendar__item_day {
  font-family: Inter;
  font-size: 10px;
  line-height: 20px;
  color: var(--grey-6);
}

.calendar__item_active {
  background: var(--blue-3);
  color: var(--white);
}

.calendar__item_between_active {
  background: var(--purple-3);
  opacity: 0.7;
  color: var(--grey-7);
}
