.custom-input__title {
  margin-bottom: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--grey-3);
}

.custom-input__control {
  position: relative;
  display: inline-block;
}

.custom-input__icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.custom-input__input {
  border: 1px solid var(--grey-2);
  border-radius: 8px;
  padding: 17px 50px 13px 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: var(--grey-4);
  outline: 0;
}

.custom-input__input_success {
  border-color: var(--grey-2);
}

.custom-input__input_error {
  border-color: var(--red);
}

.custom-input__input:focus {
  border: 1px solid var(--blue-3);
  box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}

.custom-input__input_success:focus {
  border-color: var(--grey-2);
}

.custom-input__input_error:focus {
  border-color: var(--red);
}

.custom-input__input::placeholder {
  color: var(--grey-2);
}
